.TextInputDialog {
    :global {
      .ms-Dialog-main {
        min-width: 320px;
        width:320px;
      }
      .input-container{
        display:flex;
        flex-wrap: nowrap;
      }
      .input-container .ms-TextField {
        width:100%
      }
      .extensionString {
        padding-left: 10px;
        padding-top: 4px;
      }
    }
  }